body{
    background: #fff5d6;
}
#accordion h1 {
    color: black;
}
#accordion label h4 {
    color: blue;
}
#accordion:hover label h4 {
    color: black;
}
#accordion input:checked ~ label h4 {
    color: black;
}
#accordion {
    margin: 100px auto;
    width: 600px;
    cursor: pointer;
}
#accordion li {
    list-style-type: none; 
    width: 100%;
}
#accordion label{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    color: black;
}
#accordion label i {
    color: red;
    transition: transform 0.5s; 
    visibility: hidden
}
#accordion:hover label i {
    visibility:visible
}
#accordion label:hover i {
    color:#333;
}
#accordion input:checked ~ label i {
    color: green;
    transform: rotate(90deg);
}
#accordion input{
    display:none;
}  
#accordion p {
    max-height:0;
    overflow: hidden;
    transition: 0.5s;
} 
#accordion input:checked ~ p {
    max-height:600px;
}
#accordion li label:hover ~ p {
    max-height:600px;
    transition: 0.05s;
}
/* #accordion li label:hover i {
    color: green;
    transform: rotate(90deg);
} */
#accordion p:hover  {
    max-height:600px;
}
#accordion li:hover i{
    color: green;
    transform: rotate(90deg);
}



